# 开发环境配置

spring:
  # 数据源
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/xunjiqianxing?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false

  # Redis
  data:
    redis:
      host: localhost
      port: 6379
#      password:
      database: 0
      timeout: 10000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms

# 腾讯云COS配置
#tencent:
#  cos:
#    secret-id: ${COS_SECRET_ID:AKIDcHk0wkRyMbeU8lANN9nERQEpDRglsvnT}
#    secret-key: ${COS_SECRET_KEY:ax74qTt89ycGp27zd8VWN1jOuEOQK3jF}
#    region: ${COS_REGION:ap-chengdu}
#    bucket: ${COS_BUCKET:mystore-1305405082}

# 日志配置
logging:
  level:
    com.xunjiqianxing: debug
    org.springframework.web: info
